<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow" />
    <title>London Borough of Hackney - Callback Email</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <div id="base" class="govuk-form-group">

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            <b>PLEASE RETURN A CALL:</b> [TOADDRESSES]
        </p>

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            <b>CC’d for information only:</b> [CCADDRESSES]
        </p>

        <br />

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            We are rolling out a new system to monitor callbacks at the NCC. From now on, some NCC agents will request you to make a callback using this automatic email. Please use the button below to register your successful and unsuccessful callback attempts rather than using email. You do not need to add details of your response separately to Action Diary or Universal Housing Notes as your response will be automatically copied there.
        </p>

        <br />

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            Please call back: <b>[CALLERFULLNAME]</b>
        </p>

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            Telephone: <b>[PHONENUMBER]</b>
        </p>

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            Reference: <b>[REFERENCE]</b>
        </p>

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            Address: <b>[ADDRESS]</b>
        </p>

        <br />

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            Message from NCC: <b>[MESSAGE]</b>
        </p>

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            NCC Agent: <b>[AGENTNAME]</b>
        </p>

        <br />

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            You need to respond to the call within 48hrs of receipt of this email. Please log your successful and unsuccessful attempts to get through by clicking the button below.
        </p>

        <br />

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            <a style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 14px;line-height: 1.1875;box-sizing: border-box;display: inline-block;position: relative;width: auto;margin-top: 0px;margin-bottom: 22px;padding: 7px 10px;border: 2px solid rgba(0, 0, 0, 0);border-radius: 0;color: #fff;background-color: #00823b;box-shadow: 0px 2px 0px #003618;text-align: center;vertical-align: top;cursor: pointer;-webkit-appearance: none;text-decoration: none;"
                   href="[CALLBACKURL]/[CALLBACKID]/[EMAILRECIPIENT]">Log attempt</a>
        </p>

        <br />

        <p style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            This currently only works if you are in a Hackney office using the Hackney Wi-Fi.
        </p>

        <br />

        <!-- Unnamed (Rectangle) -->
        <div style="font-family: nta,Arial,sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 400;font-size: 12px;line-height: 1.25;color: #0b0c0c;display: block;margin-bottom: 5px;">
            <p><span>Kind Regards,</span></p><p><span>Hackney Neighbourhood Contact Centre</span></p><p><span><br></span></p><p><span>---</span></p><p><span><br></span></p><p><span>Please do not reply to this email as this inbox is not monitored.</span></p>
        </div>

    </div>
</body>
</html>
